/* BASIC STYLING */

body {
	margin: 0;
	padding: 0;
	background-color: silver;
}

@font-face {
  font-family: Work Sans;
  src: url(WorkSans-Light.ttf);
}

@font-face {
	font-family: Work Sans Black;
	src: url(WorkSans-Black.ttf);
}

#scale{
	margin-top: auto;
  	background-image: linear-gradient(to right, white, maroon,crimson);
	width: 175px;
	height: 15px;
	border: 3px solid black;
}
#resscale{
	margin-top: auto;
  	background-image: linear-gradient(to right, blue, red);
	width: 175px;
	height: 15px;
	border: 3px solid black;
}

#scale-caption{
	width: 180px;
	display: flex;
	justify-content: space-between;
}

#map, #gmap_map {
	position: absolute;
	top: 0;
	left: 0;
	right: 270px;
	bottom: 0;
}

svg {
	background-color: #D3D3D3;
	width: 100%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

svg.gmap {
	background-color: transparent;
	width: auto;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
}

.overlay { /* for google map */
	fill: none;
	pointer-events: all;
}


#graticule {
	fill: none;
  	stroke: gray;
	stroke-width: .5px;
	stroke-opacity: .5;
}

.boundary {
	fill: silver;
	stroke: gray;
	stroke-width: .5px;
	stroke-opacity: 1;
}

#states path {
	fill: silver;
	stroke-width: .5px;
	stroke: black;
}

#land path {
	fill: silver;
	stroke-width: .5px;
	stroke: gray;
}

#countries path {
	fill: silver;
	stroke: white;
}

/* TOOLTIP */

#title {
	font-size: 18pt;
	text-align: right;
	font-family: Work Sans Black;
}

#author {
	font-size: 12pt;
	font-style: italic;
	letter-spacing: 1px;
	text-align: right;
}

hr {
	border: 0;
	border-bottom: 1px solid gray;
}

#texts {
	position: absolute;
	right: 0px;
	width: 249px;
	height: 98%;
	padding: 10px;
	font-size: 10pt;
	background-color: #BC8F8F;
	font-family: Work Sans;
}

#header {
	padding: 5pt;
	background: #BC8F8F;
	text-align: center;
	font-family: Work Sans;
}

#tooltip {
	margin-top: 1em;
	font-size: 10pt;

}

/* MISC INTERFACE */


#finddata {
	width: 250px;
}

/* a nifty little CSS animation that makes a big stroke become normal again */

.selected {
    stroke: red;
    animation: selectanim 200ms ease;
    stroke-width: 8px;
}
@keyframes selectanim {
  from { stroke-width: 500px; }
  to { stroke-width: 4px; }
}

/* text for the legend */
#legend .label {
    font-size: 10pt;
	pointer-events: none; /* ignore mouse clicks */
}

/* this makes it so that whenever it zooms in, the strokes will not also scale as well */
path,circle {
    vector-effect: non-scaling-stroke; 
}

/* text caption labels */
.label {
	opacity: .4;
	font-size: 14pt;
	pointer-events: none; /* ignore mouse clicks */
}
.label_point {
	stroke: none;
	pointer-events: none; /* ignore mouse clicks */
}


/* applied to data when mouse is over */
.highlight {
    stroke-width: 4px;
    opacity: 1.0;
}

/* DATA STUFF */

circle {
	fill-opacity: .8;
	stroke: white;
	stroke-width: 1;
	opacity: .5;
}

.data_visible {
	opacity: .5;
}

.data_hidden {
	display: none;
}

.data_has_keyword {
	display: block;
}

.data_lacks_keyword {
	display: none;
}

.data_in_range {
	display: block;
}

.data_date_now {
	opacity: 1;
	visibility: visible;
}

.data_date_past {
	opacity: .2;
}

.data_date_future {
	visibility: hidden;
}

.data_out_range {
	display: none;
}


.label_point {
	display: none;
}

.label {
	opacity: .5;
	font-size: 14pt;
}


.heatmap_canvas {
	position: relative;
}

.heatmapSVG {
	pointer-events: none;
}

.heatmap {
	visibility: hidden;
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}

.timeline_anim a {
	text-decoration: none;
}

.timeline_slider {
	width: 99%;
	height: 5px;
}


/* applied to data when mouse is over */
.mouseover {
    stroke-width: 4px;
    opacity: 1.0;
}

/* a nifty little CSS animation that makes a big stroke become normal again */
.selected {
    stroke: red;
    animation: selectanim 200ms ease;
    stroke-width: 8px;
}
@keyframes selectanim {
  from { stroke-width: 500px; }
  to { stroke-width: 4px; }
}

/* caption for the tooltip */
#tooltip {
	margin-top: 1em;
	font-size: 10pt;
}

/* Copied from W3Schools */
/* Dropdown Button */
.dropbtn {
  background-color: #8B0000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #B22222;}
